# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Package cache (Unity)
[Ll]ibrary/[Pp]ackage[Cc]ache/

# IDE
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
